<div class="sticky-top ">
    <h3 class="text-center mt-2">
      Welcome {{ user.first_name ? user.first_name : "" }}
    </h3>
    <hr />
    <a
      class="d-block text-white btn mb-3 btn-outline-success"
      [routerLinkActive]="['active']"
      
      [routerLink]="['contacts']"
      >Contacts</a
    >
    <a
      class="d-block text-white btn mb-3 btn-outline-success"
      [routerLinkActive]="['active']"
      
      [routerLink]="['messaging']"
      >Messaging</a
    >
    <a
      class="d-block btn mb-3 btn-outline-danger"
      [routerLink]="['/']"
      (click)="logout()"
      >Logout</a
    >
  </div>
  <!-- [routerLinkActiveOptions]="{ exact: true }" -->
  <!-- [routerLinkActiveOptions]="{ exact: true }" -->
