<div class="container-lg">
    
    <h3 class="text-center " >
       Enter Your new Password
    </h3>
    
    <div class="row justify-content-center my-5 ">
        <form ngNativeValidate class="col-lg-6 border border-dark p-5 rounded" (submit)="onSubmit()">
            <div class="mb-5">
                <label for="password" class="form-label">Password:</label>
                <input name="password" type="password" [(ngModel)]="user.password" class="form-control" id="password" required/>
                <div class="text-danger password">{{error.password?error.password:""}}</div>
              </div>
              
              <div class="text-center">
                  <button class="btn btn-primary" style="width: 100%; border-radius: 10px;">Change password</button>
              </div>
        </form>
    </div>
</div>
