<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Welcome {{user.first_name?user.first_name:""}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['contacts']">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['messaging']">Messaging</a>
          </li>
        </ul>
        <div class="d-flex">
          <a class="btn btn-outline-primary" [routerLink]="['/']" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet name="main"></router-outlet> -->
<div class="container-fluid">
  <div class="main row">
    <div class="side col-3 text-white bg-dark" style="min-height: 700px">
      <app-sidebar></app-sidebar>
    </div>
    <div class="content col p-0">
      <router-outlet></router-outlet>
      <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem pariatur
      blanditiis dolore soluta, veritatis modi. Laudantium eos saepe minima
      voluptas, repudiandae optio deleniti, architecto ullam facere officia
      reiciendis dolore! Optio vitae magni, impedit consequatur est deleniti
      neque dicta, ratione a hic, adipisci corporis dolorem quo sequi nisi atque
      doloremque fuga tempore nulla repudiandae. Deleniti, enim accusamus?
      Voluptatem, architecto neque quo, reprehenderit vero modi aut numquam,
      ipsam magni maxime harum accusamus porro laborum autem aliquid cupiditate
      repudiandae. Sit et sequi veritatis perferendis, sunt laboriosam nesciunt
      recusandae laudantium exercitationem nobis delectus suscipit consectetur
      fugiat omnis cumque impedit reiciendis pariatur itaque corrupti dolorum
      alias aliquid perspiciatis. Enim, quia quidem? Tempora, labore, illum
      voluptatem nemo repellat dolores velit quo sit iure optio est architecto,
      ut cumque adipisci voluptate! Rerum aut, cum veritatis ducimus aliquam
      totam. Officia itaque consectetur autem, non voluptatem similique?
      Possimus non totam, repellendus dolorum ut reprehenderit sapiente voluptas
      veritatis sequi beatae sed. Assumenda dolorem, dignissimos ex vero dicta
      eum a quae quas ratione molestias provident magnam, ab explicabo rerum,
      porro quam nisi vel blanditiis labore voluptatem voluptates adipisci! Quod
      cum beatae, nesciunt, soluta enim reiciendis, asperiores qui expedita
      illum consequuntur tenetur est libero exercitationem aperiam amet commodi!
      Similique atque iure maxime nostrum ut laborum accusamus dolorum quis quam
      natus aliquam illum explicabo nisi repudiandae ex quae consectetur
      temporibus fugiat, vitae laudantium aperiam et amet. Consectetur rem
      minima nulla cupiditate suscipit mollitia dicta veritatis, cumque delectus
      sint sit voluptatibus laudantium nemo consequuntur asperiores molestiae
      nihil. Autem tempora ut blanditiis voluptas laborum! Obcaecati, aliquam
      debitis quidem rerum dignissimos eveniet iure tempora velit facere?
      Numquam esse sed beatae repellendus deserunt non fugit, excepturi
      temporibus culpa quis autem, nesciunt quam? Dolor in facilis praesentium
      asperiores maiores, a mollitia dolorum animi ad deleniti saepe voluptatum,
      voluptatibus harum numquam unde molestiae ut. Eligendi dolorem tempora
      magnam ipsa quod vero harum cupiditate, fugit culpa, deserunt impedit, ad
      odit minus voluptate? Perferendis, reprehenderit? Mollitia quia incidunt
      cupiditate ad, unde voluptates alias quidem iure, vitae natus fugit,
      facilis dolores ducimus inventore officia consequatur rerum asperiores
      nobis commodi repellendus perferendis. Quo corporis doloremque fuga,
      accusamus eveniet sint eius, consequatur incidunt, pariatur nostrum ea
      itaque a exercitationem repudiandae! Quasi quam ipsam odio natus
      laboriosam impedit architecto iste sunt facere illum dolores iure, at enim
      quo nesciunt eum animi odit, libero accusantium delectus! Nihil veritatis
      delectus expedita corporis, facere voluptatibus provident in, quia
      asperiores nulla aliquam? Illo facere error expedita est quisquam a nihil
      quibusdam fugiat modi, reprehenderit enim cum saepe! Repudiandae cumque
      quaerat nobis id minima velit a, repellat obcaecati nam distinctio illum
      eaque? Ea expedita modi aut et distinctio quia ad, dolorum tempore!
      Nostrum dolorem, enim quasi, pariatur aut aperiam aliquam laborum error
      earum, quod voluptatem vero similique id deserunt at porro. Minima natus
      harum magnam molestiae pariatur, nihil voluptatibus fuga vel repellendus
      molestias quidem qui earum repudiandae dolor accusamus minus, distinctio
      possimus, tempora doloremque assumenda ea alias? Voluptatibus iure
      architecto nulla enim, nihil dolore ducimus esse commodi? Libero nulla,
      vel aliquam laudantium quaerat assumenda dignissimos corporis aliquid
      fugit autem cumque ratione nobis suscipit eligendi quae possimus harum
      tempora mollitia, inventore sed placeat! At fugit exercitationem officiis
      reiciendis blanditiis, possimus eveniet neque quod quidem necessitatibus
      suscipit animi consectetur ea, provident sapiente quos eius asperiores
      velit quas unde nisi molestias aliquid. Accusantium dolor consequatur quod
      tenetur ipsa! Est eius provident ipsa suscipit ullam similique voluptatum,
      odio assumenda odit explicabo error fuga repudiandae incidunt quis iusto
      reiciendis sunt corrupti, aut rem, cumque ipsum corporis magnam?
      Voluptates commodi, at ipsum dolore quo quae, provident est quisquam,
      praesentium voluptas maxime voluptatibus eius porro sapiente neque! Natus,
      harum odio? Magni, fugiat alias molestias qui nemo eveniet eaque libero et
      doloribus aut atque nihil cupiditate ad illum, ab asperiores! Aliquid,
      rerum explicabo? Illo nesciunt at, ad alias unde nobis, beatae iste
      recusandae tempora consequuntur provident excepturi. Iste, officia facere
      sit suscipit dolore praesentium laudantium neque deleniti doloremque,
      magnam minima laborum, itaque unde. In iste explicabo ratione, neque ipsa
      hic iure deserunt eos provident veritatis laborum sapiente eum laudantium
      sit quidem dolor ullam vel nostrum ipsum illum fugiat accusantium natus?
      Amet, eaque error. Dignissimos, aperiam doloremque consequatur assumenda
      beatae ut repellendus aut officia culpa harum, ducimus nisi eius atque
      quibusdam eaque rerum voluptatem dolores facere quas eum perspiciatis, id
      vero. Illo quia fugiat, quos adipisci voluptate nisi mollitia eum quo
      soluta officia unde sed ea placeat, velit deserunt hic, quisquam
      cupiditate illum! Dolorem mollitia necessitatibus unde modi, accusantium
      deleniti? Praesentium, excepturi cupiditate sed non ut pariatur magnam,
      possimus voluptas vitae assumenda perferendis tempora fugit architecto
      nobis nulla a mollitia debitis? Aliquam ullam tempore quis obcaecati rerum
      dignissimos delectus nihil illo totam dicta repellendus ea quas odio dolor
      velit esse quia ducimus, fugiat fugit sequi, aliquid voluptatum quos?
      Minus hic numquam laudantium expedita quae officia neque fuga quas
      architecto, dignissimos reiciendis quod, obcaecati qui vel fugit totam
      sapiente similique ratione? Exercitationem dolores ea placeat laudantium,
      doloremque quasi tempora dolorum hic quos mollitia iste, aspernatur quam.
      Aut modi ut est, mollitia ipsam vel earum, iste, vero quas nihil
      temporibus facere nam odit totam neque! Similique cum dignissimos sequi
      eos, quo cupiditate explicabo incidunt! Eaque veritatis totam unde maxime,
      magni sequi molestiae voluptatem rerum iusto, explicabo molestias dolor,
      eos nemo mollitia? Asperiores nesciunt architecto, deserunt labore
      sapiente iste quibusdam repudiandae natus nemo sit illum ratione eum
      commodi fuga quos ipsum maiores? Sit, quos quasi! Repellat modi
      consequatur nobis provident explicabo reprehenderit a sunt, libero fugit
      sint laboriosam inventore voluptatem aut at dolore voluptate culpa
      recusandae enim, aliquam ipsa magni. Voluptas rem maxime impedit esse,
      dicta consequatur mollitia incidunt dolorum laborum quibusdam quod quia?
      Consequuntur eveniet voluptate reprehenderit ipsa deserunt minima
      architecto rem veniam ex vel commodi cumque sit tempora ducimus
      accusantium illum nulla eius, velit mollitia a animi aperiam vitae
      similique! Recusandae alias pariatur quas corrupti non. Expedita corrupti
      accusamus, dolor tenetur quae, perferendis quis recusandae molestiae
      possimus laboriosam veritatis. Tempora non nihil veritatis, dolore
      consequatur dolorem possimus totam perspiciatis cum, doloribus, quae
      placeat earum repudiandae omnis sint esse deserunt cupiditate neque iusto
      fugiat voluptatibus. Dolorum voluptatem beatae vitae enim unde! -->
    </div>
  </div>
</div>
