<div>
    <div class="header bg-primary text-center">
        <h1 class="text-white">Nom</h1>
    </div>
    <div class="content">
        <div class="hisMessage mb-3">
            <div class="ms-3   border border-2 border-info" style="width:350px; height:100px; border-radius: 20px;"></div>
        </div>
        <div class="yourMessage d-flex justify-content-end">
            <div class="me-3  border border-2 border-info" style="width:350px; height:100px; border-radius: 20px; "></div>
        </div>
        <div class="message d-flex justify-content-center mt-5" style="position: fixed; bottom: 20px; right:400px" >
            <input type="text" class="rounded-pill border border-2 border-info" style="width:250px; height:50">
            <button class="btn btn-primary ms-2 rounded-pill">Send</button>
        </div>
    </div>
</div>
